name: Build Check

on:
  pull_request:
    branches:
    - master

jobs:
  hugo-deploy-gh-pages:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.99.0
    steps:
    - uses: actions/checkout@master
    - name: hd
      uses: linuxsuren/http-downloader@master
    - name: Install hugo
      run: |
        hd install hugo
    - name: Hugo build
      run: |
        hugo
