name: Build Check

on:
  pull_request:
    branches:
    - master

jobs:
  hugo-deploy-gh-pages:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.99.0
    steps:
    - uses: actions/checkout@master
    - name: hd
      uses: linuxsuren/http-downloader@master
      with:
        tool: hd
    - name: Install hugo
      run: |
        sudo cp /home/runner/work/_temp/_github_home/hd /usr/bin
        hd fetch
        hd version
        hd install hugo
    - name: Hugo build
      run: |
        hugo

    - name: check
      env:
        GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
        TARGET_GIT: "git@gitee.com:surenpi/surenpi.git"
