name: Deploy to GitHub Pages

on:
  push:
    branches:
    - master

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: hd
      uses: linuxsuren/http-downloader@master
    - name: Install hugo
      run: |
        hd install hugo
    - name: Publish
      env:
        GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_TOKEN }}
      run: |
        hugo
        gh repo clone linuxsuren.github.io
        cp -r public/* linuxsuren.github.io
        cd linuxsuren.github.io && \
          git config --global user.name "linuxsuren" && \
          git config --global user.email "linuxsuren@users.noreply.github.com" && \
          git add . && git commit -m 'deploy' && git push
