on:
  push:
    tags: 'v*'

jobs:
  homebrew:
    name: Bump Homebrew formula
    runs-on: ubuntu-latest
    steps:
      - uses: mislav/bump-homebrew-formula-action@v1.6
        # if: "!contains(github.ref, '-')" # skip prereleases
        with:
          formula-name: jcli
          homebrew-tap: jenkins-zh/homebrew-jcli
          base-branch: master
          # download-url: https://github.com/LinuxSuRen/surenpi/releases/download/v0.0.4/jcli-darwin-amd64.tar.gz
          # commit-message: {{formulaName}} {{version}}
        env:
          COMMITTER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}