name: "pre-release"

on:
  push:
    branches:
      - "master"

jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"

    steps:
      # ...
      - name: "Build & test"
        run: |
          echo "done!"
          echo sfsdf > a.txt
          echo dfdf > b.txt
          echo dfdf > c.txt
          echo dfdf > d.txt

      - uses: "marvinpinto/action-automatic-releases@v0.2.2"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          draft: true
          title: "Development Build"
          files: |
            *.txt

      - name: Upload to bintray
        run: |
          curl -T a.txt -ulinuxsuren:${{ secrets.BINTRAY_TOKEN }} https://api.bintray.com/content/jenkins-zh/jenkins-cli/jenkins-cli/dev/jcli
